section {
    padding: 50px;
    background-image: url(static/diego-ph-nyESNc7uz9c-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

h1 {
    font-family: 'Arial Narrow Bold', cursive;
    font-size: 4rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}