.input_group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_control {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

label {
    margin: 5px 0;
}

section {
    padding-top: 50px;
    background-image: url(static/ella-arie-w10CTt39x9k-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

h1 {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
